.content-wrap {
    background-image : url("");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    font-size: 1em;
    padding: 0;
    margin: 0;
    background: rgb(0, 212, 255);
    text-align: center;
    /* background-image: url(./cool-background.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

table {
    margin-bottom: 32px;
    font-size: 1.25em;

}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;

}

#customers th:first-child{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: maroon;
}

#customers th {
    color: maroon !important;
}



#customers tr:nth-child(even) {
    background-color: #f2f2f200;
}

#customers tr:nth-child(odd) {
    background-color: rgba(184, 184, 184, 0);
}



#customers tr:hover {
    background-color: rgba(181, 244, 255, 0.274);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.cerinte th {
    text-align: center !important;
}
.cerinte {
    max-width: 300px;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 66px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.verse {
    display: flex;
    justify-content: center;
}

#verse,
#gand{
    text-align: center;
}

.credits {
    text-align: center;
}

/* #progress {
    color: white;
} */

/* CSS */
.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: sticky;
    top: 64px; 
    
  }

  .button-37 a {
      text-decoration: none;
      color: #fff;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

  .tableT{
      margin-top: 16px;
  }

  #canvas {
      margin-bottom: 32px;
      margin-top: 16px;
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .content-wrap { 
    width: 70%;
    }
  }